.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 3px;
    padding: 15px;
}
.wrapper div:first-child {
    grid-column: 1;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    font-size: 30px;
}
.wrapper div:nth-child(2){
    grid-column: 2;
    justify-self: left;
}

.wrapper div:nth-child(3) {
    grid-column: 2;
    justify-self: left;
}
.wrapper div:nth-child(4) {
    grid-column: 3;
    grid-row: 1 /3;
    justify-self: center;
    align-self: center;
}
